option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bertel_capstone_project.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bertel_capstone_project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/nfl_scores/static/nfl_scores": "www/static/nfl_scores"

container_commands:
  00collectstatic:
    command: "python manage.py collectstatic --noinput"