h1 {
	margin-bottom: 20px;
}

h4 {
	font-weight: 400;
}

.week-nav {
	display: -webkit-flex; /* Webkit works for Safari */
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: center;
	justify-content: center;

	margin-bottom: 20px;
}

.team-search {
	margin-bottom: 20px;
}

.previous-week span {
	margin-right: 5px;
}

.current-week {
	margin: auto;
}

.next-week span {
	margin-left: 5px;
}

.blank-button {
	color: #C8E6C9;
	background-color: #C8E6C9;
	border: none;
	pointer-events:none;
	box-shadow: none;
}

.blank-button h4 {
	color: #C8E6C9;
}

.game, .future-game, .conference-name, .division {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	padding-left: 5px;
	padding-right: 5px;
}

.division-name {
	padding-top: 0.5rem;
}

.team-in-division:last-child {
	padding-bottom: 0.5rem;
}

.future-game div {
	margin-top: .5rem;
}

#search-query {
	width: 15%;
}

.game input {
	display: none;
}

.dropdown-item {
	font-size: larger;
	width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    text-align: inherit;
    background: 0 0;
    border: 0;
}

.score {
	float: right;
}

.winner {
	font-weight: 900;
}

.team-game-data {
	margin-top: .5rem;
	float: left;
}

.quarter-points {
	float: right;
	font-size: 400;
	margin-top: 4px;
}

.quarter-total {
	color: #FFFFFF;
}

.top-table-row {
	line-height: 30px;
}

th, td {
	padding-left: 7px;
	font-size: 1.25rem;
	font-weight: 300;
}

/* Hack to give me correct offset amount. Found from:
	http://stackoverflow.com/questions/30846378/bootstrap-center-3-col-md-3-divs */
@media (min-width: 1120px) {
	.game:nth-child(n+4), .future-game:nth-child(n+4) {
		margin-top: 20px;
	}

	.game:nth-child(3n+1), .future-game:nth-child(3n+1), .team-search {
		margin-left: 8.3333333333%;
	}

	.game:not(:nth-child(3n+1)), .future-game:not(:nth-child(3n+1)) {
		margin-left: 4.16666666666667%;
	}
}

@media (max-width: 1120px) and (min-width: 991px) {
	/*.game:nth-child(even), .future-game:nth-child(even), .conference:nth-child(even) {
		margin-left: 4.16666666666667%;
	}
	.game:nth-child(odd), .future-game:nth-child(odd), .conference:nth-child(odd), .team-search {
		margin-left: 6.25%;
	}
	.game:nth-child(n+3), .future-game:nth-child(n+3), .conference:nth-child(n+3) {
		margin-top: 20px;
	}*/
	.game:nth-child(n+4), .future-game:nth-child(n+4) {
		margin-top: 20px;
	}

	.game:nth-child(3n+1), .future-game:nth-child(3n+1), .team-search {
		margin-left: 6.25%;
	}

	.game:not(:nth-child(3n+1)), .future-game:not(:nth-child(3n+1)) {
		margin-left: 6.25%;
	}
}

@media (max-width: 575px) {
	.games .row:not(:first-child) {
		margin-top: 20px;
	}

	.game, .conference, .future-game, .team-search {
		margin-right: 8.333333333334%;
		margin-left: 8.333333333334%;
	}

	.game:not(:first-child), .conference:not(:first-child), .future-game:not(:first-child) {
		margin-top: 20px;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.game, .conference, .future-game, .team-search {
		margin-left: 4.16666666666667%;
		margin-right: 4.16666666666667%;
	}

	.game:not(:nth-child(1)):not(:nth-child(2)), .future-game:not(:first-child) {
		margin-top: 20px;
	}
}

@media (min-width: 991px) {
	.conference:nth-child(1) {
		margin-left: 22.75%;
	}
	.conference:nth-child(2) {
		margin-left: 4.16666666666667%;
	}

}