h1 {
	margin-bottom: 20px;
}

.week-nav {
	display: -webkit-flex; /* Webkit works for Safari */
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: center;
	justify-content: center;

	margin-bottom: 20px;
}

.games .row:not(:first-child) {
	margin-top: 20px;
}

.previous-week span {
	margin-right: 5px;
}

.current-week {
	margin: auto;
}

.next-week span {
	margin-left: 5px;
}

.blank-button {
	color: white;
	border: none;
	pointer-events:none;
}

.game {
	background-color: #5cb85c;
	border: 1px solid;
}

.game input {
	display: none;
}

.record {
	font-size: 11px;
}

.winning-score {
	float: right;
	font-weight: 900;
}

.losing-score {
	float: right;
	font-weight: 400;
}

.game-quarters {
	display: none;
	background-color: red;
}

.team-game-data {
	float: left;
	margin-top: 5%;
}

.quarter-points {
	float: right;
	font-size: 400;
}

th, td {
	padding-left: 10px;
	font-size: 18px;
	font-weight: 400;
}

/* Hack to give me correct offset amount. Found from:
	http://stackoverflow.com/questions/30846378/bootstrap-center-3-col-md-3-divs */
@media (min-width: 992px) {
	.game:nth-child(n+4) {
		margin-top: 20px;
	}

	.game:nth-child(3n+1) {
		margin-left: 8.3333333333%;
	}

	.game:not(:nth-child(3n+1)) {
		margin-left: 4.16666666666667%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.game:nth-child(even) {
		margin-left: 4.16666666666667%;
	}
	.game:nth-child(odd) {
		margin-left: 6.25%;
	}
	.game:nth-child(n+3) {
		margin-top: 20px;
	}
}

@media (max-width: 767px) {
	.game {
		margin-left: 8.333333333334%;
	}

	.game:not(:first-child) {
		margin-top: 20px;
	}
}