<!DOCTYPE html>
<html>
<head>
	<title>Standings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/mdbootstrap.compiled.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/palette.css' %}">
</head>
<body class="light-primary-color">
	<nav class="navbar text-center">
		<h1 class="text-primary-color">2016-2017 NFL Standings</h1>
		<a href="/"><h4 class="text-center text-primary-color">Scores</h4></a>
	</nav>
	<div class="container-fluid">
		<div class="row text-center">
		{% for conference in data.conferences %}
			<div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-10 conference text-primary-color">
				<div class="conference-name accent-color">
					<h1 class="text-center">{{conference.name}}</h1>
				</div>
				{% for division in conference.divisions %}
					<div class="division dark-primary-color">
						<h2 class="division-name"><u>{{division.name}}</u></h2>
						{% for team in division.teams %}
							{% if team.ties != 0 %}
								<h4 class="team-in-division">{{team.name}}
									<span>&nbsp{{team.wins}} - {{team.losses}} - {{team.ties}}</span>
								</h4>
							{% else %}
								<h4 class="team-in-division">{{team.name}}
									<span>&nbsp {{team.wins}} - {{team.losses}}</span>
								</h4>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</html>