<!DOCTYPE html>
<html>
<head>
	<title>NFL Week {{week}}</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/main.css' %}">
</head>
<body>
	<nav class="navbar navbar-default text-center">
		<h1>NFL Game Scores</h1>
		<a href="/standings"><h4 class="text-center">Standings</h4></a>
	</nav>
	<div class="week-nav text-center container">
		{% if week == 1 %}
			<div class="previous-week btn btn-default blank-button">
				<h4><span>&lt;</span>{{week|add:"-1"}}</h4>
			</div>
		{% else %}
			<a href={% url 'week' week|add:"-1" %}>
				<div class="previous-week btn btn-default">
					<h4><span>&lt;</span>{{week|add:"-1"}}</h4>
				</div>
			</a>
		{% endif %}
		<div class="current-week dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<h4>Week {{week}} <span class="caret"></span></h4>
		  	</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  		<!-- Hack to show all 17 weeks, found from
		  		http://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates-->
			    {% for i in "aaaaaaaaaaaaaaaaa" %}
					<li><a href={% url 'week' forloop.counter %}>{{forloop.counter}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% if week == 17 %}
			<div class="next-week btn btn-default blank-button">
				<h4>{{week|add:"1"}}<span>&gt;</span></h4>
			</div>
		{% else %}
			<a href={% url 'week' week|add:"1" %}>
				<div class="next-week btn btn-default">
					<h4>{{week|add:"1"}}<span>&gt;</span></h4>
				</div>
			</a>
		{% endif %}
	</div>
	<form id="search-team" class="team-search">
		<input id="search-query" type="text" list="json-datalist" name="team" placeholder="Search for a team">
		<datalist id="json-datalist"></datalist>
		<input type="submit" value="Search">
	</form>
	<div class="games container-fluid">
		<div class="row text-center">
			{% if future_games|length == 0 %}
				{% for game in games %}
				<div class="col-md-3 col-sm-5 col-xs-10 game">
					<div class="game-basic">
						<h4 class="text-left">{{game.away_team.long_name}}
							{% if game.away_score >= game.home_score %}
								<span class="winning-score">{{game.away_score}}</span>
							{% else %}
								<span class="losing-score">{{game.away_score}}</span>
							{% endif %}
						</h4>
						<h4 class="text-left">{{game.home_team.long_name}}
							{% if game.home_score >= game.away_score %}
								<span class="winning-score">{{game.home_score}}</span>
							{% else %}
								<span class="losing-score">{{game.home_score}}</span>
							{% endif %}
						</h4>
					</div>
					<div class="game-quarters">
						<div class="team-game-data">
							<h4 class="text-left">{{game.away_team.long_name}}
							</h4>
							<h4 class="text-left">{{game.home_team.long_name}}
							</h4>
						</div>
						<table class="quarter-points">
							<tr class="top-table-row">
								<td>{{game.away_points_q1}}</td>
								<td>{{game.away_points_q2}}</td>
								<td>{{game.away_points_q3}}</td>
								<td>{{game.away_points_q4}}</td>
								{% if game.away_score >= game.home_score %}
									<td style="font-weight: bold;">{{game.away_score}}</td>
								{% else %}
									<td>{{game.away_score}}</td>
								{% endif %}
							</tr>
							<tr>
								<td>{{game.home_points_q1}}</td>
								<td>{{game.home_points_q2}}</td>
								<td>{{game.home_points_q3}}</td>
								<td>{{game.home_points_q4}}</td>
								{% if game.home_score >= game.away_score %}
									<td style="font-weight: bold;">{{game.home_score}}</td>
								{% else %}
									<td>{{game.home_score}}</td>
								{% endif %}
							</tr>
						</table>
					</div>
					<!-- This checkbox is a hack to know whether or not to
					display the quarter-by-quarter scoring table -->
					<input type="checkbox" name="hidden-checkbox">
				</div>
				{% endfor %}
			{% else %}
				{% for game in future_games %}
					<div class="col-md-3 col-sm-5 col-xs-10 future-game" disabled="true">
						<div class="game-basic text-center">
							<h4>{{game.home.name}}</h4>
							<h4>{{game.away.name}}</h4>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<script>
  		$(".game").click( function() {
  			console.log("another time");
  			// if the checkbox is unchecked then
  			if (!$(this).find('input').prop("checked")) {
  				$(this).find(".game-basic").css("display", "None");
	  			$(this).find(".game-quarters").css("display", "inline");
	  			$(this).find('input').prop('checked', true);
  			} 
  			else {
  				console.log("else statement fired");
  				$(this).find(".game-basic").css("display", "inline");
	  			$(this).find(".game-quarters").css("display", "None");
	  			$(this).find('input').prop('checked', false);
  			}
  		});

		var dataList = document.getElementById('json-datalist');
		var input = document.getElementById('search-query');
		var teamSet = new Set();
		$("#search-team").on('input',function(e){
  			var searchString = $("#search-query").val();

			// Referenced the following link to create the ajax call:
			//    https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
			// Referenced the following link to create the dropdown form:
			//    http://blog.teamtreehouse.com/creating-autocomplete-dropdowns-datalist-element
			$.ajax({
				url: 'http://localhost:8000/get_teams',
				type: 'get',
				dataType: 'json',
				data: {'searchString': searchString},
				success: function(data) {
					teams = data.teams;
					for (var i = 0; i < teams.length; i++) {
						teamName = teams[i].name;
						if (!teamSet.has(teamName)) {
							teamSet.add(teamName);
							var option = document.createElement('option');
							option.value = teamName;
							dataList.appendChild(option);
						}
						else {
							continue;
						}
					}
					input.placeholder = "Search for a team";
				},
				failure: function(data) {
					alert('Error, try again');
				}
			});
		});
  	</script>
</html>