<!DOCTYPE html>
<html>
<head>
	<title>Week {{week}}</title>
	{% load static %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'nfl_scores/main.css' %}">
</head>
<body>
	<nav class="navbar navbar-default text-center">
		<h1>NFL Game Scores</h1>
	</nav>
	<div class="week-nav text-center container">
		{% if week == "1" %}
			<div class="previous-week btn btn-default blank-button">
				<h4><span>&lt;</span>{{week|add:"-1"}}</h4>
			</div>
		{% else %}
			<a href="/week_view/{{week|add:'-1'}}">
				<div class="previous-week btn btn-default">
					<h4><span>&lt;</span>{{week|add:"-1"}}</h4>
				</div>
			</a>
		{% endif %}
		<div class="current-week dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<h4>Week {{week}} <span class="caret"></span></h4>
		  	</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  		<!-- Hack to show all 17 weeks, found from
		  		http://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates-->
			    {% for i in "aaaaaaaaaaaaaaaaa" %}
					<li><a href="/week_view/{{forloop.counter}}">{{forloop.counter}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% if week == "17" %}
			<div class="next-week btn btn-default blank-button">
				<h4>{{week|add:"1"}}<span>&gt;</span></h4>
			</div>
		{% else %}
			<a href="/week_view/{{week|add:'1'}}">
				<div class="next-week btn btn-default">
					<h4>{{week|add:"1"}}<span>&gt;</span></h4>
				</div>
			</a>
		{% endif %}
	</div>
	<!-- <div class="games container-fluid">
		<div class="row text-center">
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 1</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 2</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 3</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 4</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 5</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 6</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 7</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 8</div>
			<div class="col-md-3 col-sm-5 col-xs-10 game">Game 9</div>
		</div>
	</div> -->
	<div class="games container-fluid">
		<div class="row text-center">
		{% for game in games %}
			<div class="col-md-3 col-sm-5 col-xs-10 game">
				<h4 class="text-left">{{game.home_team.name}} 
					<span class="record"> {{game.home_team.wins}}-{{game.home_team.losses}}</span>
					{% if game.home_score >= game.away_score %}
						<span class="winning-score">{{game.home_score}}</span>
					{% else %}
						<span class="losing-score">{{game.home_score}}</span>
					{% endif %}
				</h4>
				<h4 class="text-left">{{game.away_team.name}} 
					<span class="record"> {{game.away_team.wins}}-{{game.away_team.losses}}</span>
					{% if game.away_score >= game.home_score %}
						<span class="winning-score">{{game.away_score}}</span>
					{% else %}
						<span class="losing-score">{{game.away_score}}</span>
					{% endif %}
				</h4>
			</div>
		{% endfor %}
		</div>
	</div>
</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>